<% content_for :head do %>
  <link href='http://fonts.googleapis.com/css?family=Coming+Soon|Viga' rel='stylesheet' type='text/css'>
  <style type="text/css" media="screen">
    .container {
      background-color: white;
      padding-bottom: 30px;
      border-left: 1px solid black;
      border-right: 1px solid black;
    }
    body {
      background-color: #333;
      font-size: 20px;
    }
    h1 {
      font-family: "Viga";
      padding-bottom: 10px;
      border-bottom: 2px solid #333;
      margin-top: 54px;
      margin-bottom: 24px;
    }
    h3 {
      font-family: "Viga";
      margin-top: 24px;
    }
    #buttons {
      text-align: center;
      margin-top: 48px;
    }
    .url {
      font-size: 16px;
      color: #666;
      padding: 8px;
    }
  </style>
<% end %>


<h1><%= @candidate.name %></h1>

<%= @candidate.email %>

<h3>Personal referral link</h3>
<pre class="url"><%= ref_link(@candidate) %></pre>
<a href="https://twitter.com/share" class="twitter-share-button" data-url="<%= ref_link(@candidate) %>" data-text="Unobtanium -- Let your dream job find *you*!" data-size="large" data-count="none" data-dnt="true">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>


<h1>My Dream Job</h1>

<h3>Position</h3>
<%= @candidate.position %>

<h3>Contract</h3>
<ul>
<% @candidate.job_types.each do |type| %>
  <li><%= type %></li>
<% end %>
</ul>

<h3>I want ...</h3>
<ul>
<% @candidate.priorities.each do |type| %>
  <li><%= type %></li>
<% end %>
</ul>


<h1>About Me</h1>

<h3>Favorite language</h3>
<%= @candidate.language %>

<h3>I am ...</h3>
<ul>
<% @candidate.traits.each do |type| %>
  <li><%= type %></li>
<% end %>
</ul>

<h3>Professional experience</h3>
<%= @candidate.experience %> years

<h3>Location</h3>
<%= @candidate.location %>

<div id="buttons">
  <a href="/edit/new" class="btn btn-primary btn-large">Edit</a>
</div>
