<h1>signup</h1>

<ul>
<% @who.each do |key, value| %>
  <li><%= "#{key}: #{value}" %></li>
<% end %>
</ul>

<% @form.errors.each do |error| %>
  <p><%= error %></p>
<% end %>

<% form_tag "/signup/" do %>
  <p>
    <%= label_tag "job_title" %>
    <%= text_field_tag "job_title", :value => @form.params[:job_title] %>
  </p>
  <p>
    <%= label_tag "company_age" %>
    <%= check_box_tag "company_age_baby", :checked => @form.params[:company_age_baby] %> baby
    <%= check_box_tag "company_age_toddler", :checked => @form.params[:company_age_toddler] %> toddler
    <%= check_box_tag "company_age_child", :checked => @form.params[:company_age_child] %> child
    <%= check_box_tag "company_age_teenie", :checked => @form.params[:company_age_teenie] %> teenie
    <%= check_box_tag "company_age_adult", :checked => @form.params[:company_age_teenie] %> adult
  </p>
  <p>
    <%= submit_tag 'go' %>
  </p>
<% end %>