<% content_for :head do %>
  <link href='http://fonts.googleapis.com/css?family=Coming+Soon|Viga' rel='stylesheet' type='text/css'>
  <style type="text/css" media="screen">
    input[type=text] {
      width: 97%;
      height: 35px;
      font-family: "Coming Soon";
      font-size: 30px;
      border-color: #999;
      border-width: 2px;
      color: #00b;
      overflow: visible;
    }
    input[type=checkbox] {
      width: 20px;
      height: 20px;
    }
    .with_error, .alert-error {
      color: red;
    }
    .choice {
      font-size: 22px;
    }
    .container {
      background-image: url('/img/paper_squared5b.jpg');
      padding-bottom: 30px;
      border-left: 1px solid black;
      border-right: 1px solid black;
    }
    body {
      background-color: #333;
    }
    h1 {
      font-family: "Viga";
      padding-bottom: 10px;
      border-bottom: 2px solid #333;
      margin-top: 54px;
      margin-bottom: 24px;
    }
    h3 {
      font-family: "Viga";
      margin-top: 24px;
    }
    ul {
      padding-left: 24px;
    }
    ol {
      padding-left: 6px;
    }
    #buttons {
      text-align: center;
      margin-top: 48px;
    }
  </style>
<% end %>


<div class="container">
<div class="row">
<div class="span2"></div>
<div class="span8">

<ul>
<% @who.each do |key, value| %>
  <li><%= "#{key}: #{value}" %></li>
<% end %>
</ul>

<% unless @form.errors.empty? %>
<div class="alert alert-error">
  Some values are missing or invalid. Please check any field which is red.
</div>
<% end %>

<% form_tag "/signup/" do %>

<h1>My Dream Job</h1>
<div>
  <%= field_header :position, "Position" %>
  <%= text_field_tag "position", :value => @form.params[:position] %>
  <span class="help-block">
    What would be the ideal position for you?
    Examples: "Founder / CTO in micropayment startup",
    "Junior Rails developer",
    "Lead backend developer at high-traffic e-commerce site".
  </span>
</div>
<div>
  <%= field_header :job_type, "Contract" %>
  <ul class="unstyled">
    <li class="choice"><%= check_box_tag "job_type_permanent", :checked => @form.params[:job_type_permanent] %> permanent</li>
    <li class="choice"><%= check_box_tag "job_type_freelancer", :checked => @form.params[:job_type_freelancer] %> freelancer</li>
    <li class="choice"><%= check_box_tag "job_type_cofounder", :checked => @form.params[:job_type_cofounder] %> cofounder</li>
    <li class="choice"><%= check_box_tag "job_type_intern", :checked => @form.params[:job_type_intern] %> intern</li>
    <li class="choice"><%= check_box_tag "job_type_parttime", :checked => @form.params[:job_type_parttime] %> part time</li>
    <li class="choice"><%= check_box_tag "job_type_remote", :checked => @form.params[:job_type_remote] %> remote</li>
  </ul>
  <span class="help-block">
    Which of these options are you willing to consider?
  </span>
</div>
<div>
  <%= field_header :priorities, "I want ..." %>
  <%= text_field_tag "priority_1", :value => @form.params[:priority_1] %>
  <%= text_field_tag "priority_2", :value => @form.params[:priority_2] %>
  <%= text_field_tag "priority_3", :value => @form.params[:priority_3] %>
  <span class="help-block">
    What are the 3 most important things you need to find that would make it your dream job?
    Examples: "test-driven development", "small (< 10) teams", "a significant equity stake".
  </span>
</div>

<h1>About Me</h1>
<div>
  <%= field_header :language, "Favorite language" %>
  <%= text_field_tag "language", :value => @form.params[:language] %>
  <span class="help-block">
    Which programming language is your weapon of choice for day-to-day work?
  </span>
</div>
<div>
  <%= field_header :traits, "I am ..." %>
  <%= text_field_tag "trait_1", :value => @form.params[:trait_1] %>
  <%= text_field_tag "trait_2", :value => @form.params[:trait_2] %>
  <%= text_field_tag "trait_3", :value => @form.params[:trait_3] %>
  <span class="help-block">
    Give 3 reasons why somebody should hire you. What do you bring to the table?
    What are your personal strengths? How would a good friend describe you?
  </span>
</div>
<div>
  <%= field_header :experience, "Professional experience" %>
  <div class="choice"><%= text_field_tag "experience", :value => @form.params[:experience], :style => "width: 60px" %>&nbsp;&nbsp;years</div>
  <span class="help-block">
    How long have you been earning money by developing software?
  </span>
</div>

<div id="buttons">
  <button type="submit" class="btn btn-primary btn-large">Save</button>
</div>

<% end %>

</div>
</div>
</div>
